In [143]:
import sklearn.preprocessing as pp
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datetime
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import Imputer
import h2o

In [132]:
df = pd.read_csv("./train_indessa.csv")
tf = pd.read_csv("./test_indessa.csv")
ds = df.values
ts = tf.values

In [ ]:
df.describe()

In [6]:
df.columns.values[15]

'desc'

In [ ]:
l=[]

for ix in range(ds.shape[0]):
    test = ds[ix]
    l.append(np.unique(pd.isnull(test), return_counts=True)[1][1])
    
print l

In [30]:
te=[]

for ix in range(5000):
    te.append(ds[ix, 7])

te = np.asarray(te)
print np.unique(te, return_counts=True)

(array(['A', 'B', 'C', 'D', 'E', 'F', 'G'],
      dtype='|S1'), array([ 836, 1402, 1393,  814,  371,  160,   24]))

In [ ]:
int col5=0

for ix in range(10):#ds.shape[0]):
    print (np.unique(pd.isnull(ds[ix, :]), return_counts=True))[1][1], 
    if(ds[ix, 5] == ' '):
        print "batch yes",
    if(ds[ix, 5] == ' '):
        col5 += 1
    if(ds[ix, 5] == ' '):
        col5 += 1
print ds[2, :]

In [41]:
#532428

for temp in range(ds.shape[1]):
    print temp
    print df.columns.values[temp]
    print np.unique(pd.isnull(ds[:, temp]), return_counts=True)
    print np.unique(ds[:, temp], return_counts=True)
    print '-'*50

0
member_id
(array([False], dtype=bool), array([532428]))
(array([70473, 70681, 70694, ..., 73519894, 73542831, 73544841], dtype=object), array([1, 1, 1, ..., 1, 1, 1]))
--------------------------------------------------
1
loan_amnt
(array([False], dtype=bool), array([532428]))
(array([500, 550, 600, ..., 34950, 34975, 35000], dtype=object), array([    7,     1,     3, ...,    12,    20, 21728]))
--------------------------------------------------
2
funded_amnt
(array([False], dtype=bool), array([532428]))
(array([500, 550, 600, ..., 34950, 34975, 35000], dtype=object), array([    7,     1,     3, ...,    12,    20, 21650]))
--------------------------------------------------
3
funded_amnt_inv
(array([False], dtype=bool), array([532428]))
(array([0.0, 0.00012109810799999999, 0.000922030107, ..., 34993.6553862,
       34995.379457099996, 35000.0], dtype=object), array([  139,     1,     1, ...,     1,     1, 17671]))
--------------------------------------------------
4
term
(array([False], dtype=bool), array([532428]))
(array(['36 months', '60 months'], dtype=object), array([372793, 159635]))
--------------------------------------------------
5
batch_enrolled
(array([False,  True], dtype=bool), array([447279,  85149]))

/Users/sachin/Documents/cbBootCamp/cb/lib/python2.7/site-packages/numpy/lib/arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

(array([nan, ' ', 'BAT1104812', 'BAT1135695', 'BAT1184694', 'BAT1273836',
       'BAT1327206', 'BAT1467036', 'BAT1521494', 'BAT1575727',
       'BAT1586599', 'BAT1691418', 'BAT1755192', 'BAT1761981',
       'BAT1766061', 'BAT1780517', 'BAT1864701', 'BAT1914408',
       'BAT1930365', 'BAT1942645', 'BAT2003848', 'BAT2015867', 'BAT20678',
       'BAT2078974', 'BAT2136391', 'BAT2143459', 'BAT224923', 'BAT2252229',
       'BAT2331079', 'BAT2333412', 'BAT2428731', 'BAT2522922',
       'BAT2558388', 'BAT2575549', 'BAT2677031', 'BAT2803411',
       'BAT2833642', 'BAT2881062', 'BAT2881453', 'BAT291187', 'BAT2974007',
       'BAT3147293', 'BAT3157685', 'BAT3160077', 'BAT3193689',
       'BAT3260421', 'BAT3275209', 'BAT3292317', 'BAT3372536',
       'BAT3461431', 'BAT3474907', 'BAT348786', 'BAT3518025', 'BAT3537993',
       'BAT357701', 'BAT3594334', 'BAT3706046', 'BAT3726927', 'BAT3839056',
       'BAT3865626', 'BAT3873588', 'BAT3943761', 'BAT3965509',
       'BAT3975721', 'BAT4051248', 'BAT4136152', 'BAT4160421',
       'BAT4201183', 'BAT4250975', 'BAT4260473', 'BAT4271519',
       'BAT4347689', 'BAT4351734', 'BAT447257', 'BAT4694572', 'BAT4722912',
       'BAT4726815', 'BAT4734809', 'BAT47674', 'BAT4780022', 'BAT4786748',
       'BAT4808022', 'BAT4884699', 'BAT4935307', 'BAT4939736',
       'BAT5046385', 'BAT5077496', 'BAT5320519', 'BAT5341619',
       'BAT5458862', 'BAT5477261', 'BAT5489674', 'BAT5525466',
       'BAT5540558', 'BAT5547201', 'BAT5597801', 'BAT5614983',
       'BAT5629144', 'BAT5714674', 'BAT578944', 'BAT5811547', 'BAT5849876',
       'BAT5869156', 'BAT5877328', 'BAT5924421'], dtype=object), array([ 85149, 106079,  13505,   2041,  12251,    551,   1102,   2705,
          446,     92,  14463,    666,    474,   2400,   5997,  13918,
          139,    826,   5378,    890,   4129,    849,    593,  14859,
         7422,     54,   5858,  18791,     13,   7192,   4004,   6250,
         9601,   5638,   1337,  17111,   4595,    846,    324,    118,
          455,     44,    250,    511,  11189,    370,    125,   1449,
         1247,   6583,     49,    153,    226,     53,    328,    262,
           96,  10977,    247,   2847,  17839,   1814,     90,    153,
          646,   9667,     70,    192,     42,    140,  10994,     30,
         4971,    101,  13504,   4043,    109,    119,    976,    745,
          264,   4181,     29,    165,     43,    961,     18,    556,
         3598,    526,    119,   7291,   4926,    416,   2459,    481,
          460,   5731,   3231,     44,   2412,   2357,     26,    701,
         9071]))
--------------------------------------------------
6
int_rate
(array([False], dtype=bool), array([532428]))
(array([5.32, 5.42, 5.79, 5.93, 5.99, 6.0, 6.03, 6.17, 6.24, 6.39, 6.49,
       6.54, 6.62, 6.68, 6.76, 6.89, 6.91, 6.92, 6.97, 6.99, 7.05, 7.12,
       7.14, 7.26, 7.29, 7.37, 7.4, 7.42, 7.43, 7.49, 7.51, 7.62, 7.66,
       7.68, 7.69, 7.74, 7.75, 7.88, 7.89, 7.9, 7.91, 8.0, 8.07, 8.18,
       8.19, 8.32, 8.38, 8.39, 8.49, 8.59, 8.6, 8.63, 8.67, 8.7, 8.88, 8.9,
       8.94, 9.01, 9.07, 9.17, 9.2, 9.25, 9.32, 9.33, 9.38, 9.45, 9.49,
       9.51, 9.62, 9.63, 9.64, 9.67, 9.7, 9.71, 9.76, 9.8, 9.83, 9.88,
       9.91, 9.96, 9.99, 10.0, 10.01, 10.08, 10.14, 10.15, 10.16, 10.2,
       10.25, 10.28, 10.33, 10.36, 10.37, 10.38, 10.39, 10.46, 10.49,
       10.51, 10.59, 10.62, 10.64, 10.65, 10.71, 10.74, 10.75, 10.78,
       10.83, 10.91, 10.95, 10.96, 10.99, 11.03, 11.09, 11.11, 11.12,
       11.14, 11.22, 11.26, 11.28, 11.34, 11.36, 11.41, 11.44, 11.46,
       11.48, 11.49, 11.53, 11.54, 11.55, 11.58, 11.59, 11.63, 11.66,
       11.67, 11.71, 11.72, 11.78, 11.83, 11.86, 11.89, 11.91, 11.97,
       11.99, 12.04, 12.05, 12.09, 12.12, 12.17, 12.18, 12.21, 12.22,
       12.23, 12.29, 12.35, 12.36, 12.39, 12.41, 12.42, 12.49, 12.53,
       12.54, 12.59, 12.61, 12.62, 12.67, 12.68, 12.69, 12.72, 12.73, 12.8,
       12.84, 12.85, 12.86, 12.87, 12.88, 12.92, 12.98, 12.99, 13.04,
       13.05, 13.06, 13.11, 13.12, 13.16, 13.17, 13.18, 13.22, 13.23,
       13.24, 13.3, 13.33, 13.35, 13.36, 13.43, 13.44, 13.47, 13.48, 13.49,
       13.53, 13.55, 13.57, 13.61, 13.62, 13.65, 13.66, 13.67, 13.68,
       13.72, 13.75, 13.79, 13.8, 13.84, 13.85, 13.87, 13.92, 13.93, 13.98,
       13.99, 14.07, 14.09, 14.11, 14.12, 14.16, 14.17, 14.18, 14.22,
       14.25, 14.26, 14.27, 14.28, 14.3, 14.31, 14.33, 14.35, 14.38, 14.42,
       14.43, 14.46, 14.47, 14.48, 14.49, 14.5, 14.54, 14.57, 14.59, 14.61,
       14.62, 14.64, 14.65, 14.67, 14.7, 14.72, 14.74, 14.75, 14.79, 14.82,
       14.83, 14.84, 14.85, 14.88, 14.91, 14.93, 14.96, 14.98, 14.99,
       15.01, 15.05, 15.07, 15.1, 15.13, 15.2, 15.21, 15.22, 15.23, 15.25,
       15.27, 15.28, 15.31, 15.33, 15.37, 15.38, 15.41, 15.45, 15.51,
       15.57, 15.58, 15.59, 15.61, 15.62, 15.65, 15.68, 15.7, 15.76, 15.77,
       15.8, 15.81, 15.83, 15.88, 15.95, 15.96, 15.99, 16.0, 16.01, 16.02,
       16.07, 16.08, 16.11, 16.15, 16.2, 16.24, 16.28, 16.29, 16.32, 16.33,
       16.35, 16.4, 16.45, 16.46, 16.49, 16.55, 16.59, 16.63, 16.65, 16.69,
       16.7, 16.71, 16.77, 16.78, 16.82, 16.89, 16.91, 16.95, 16.96, 16.99,
       17.03, 17.04, 17.06, 17.09, 17.1, 17.14, 17.15, 17.19, 17.22, 17.26,
       17.27, 17.28, 17.34, 17.39, 17.43, 17.44, 17.46, 17.49, 17.51,
       17.54, 17.56, 17.57, 17.58, 17.59, 17.66, 17.74, 17.76, 17.77, 17.8,
       17.86, 17.88, 17.9, 17.91, 17.93, 17.97, 17.99, 18.04, 18.07, 18.09,
       18.17, 18.2, 18.21, 18.24, 18.25, 18.29, 18.3, 18.36, 18.39, 18.43,
       18.49, 18.53, 18.54, 18.55, 18.61, 18.62, 18.64, 18.67, 18.75,
       18.78, 18.79, 18.84, 18.85, 18.86, 18.91, 18.92, 18.99, 19.03,
       19.04, 19.05, 19.13, 19.16, 19.19, 19.2, 19.22, 19.24, 19.29, 19.36,
       19.39, 19.41, 19.42, 19.47, 19.48, 19.52, 19.66, 19.69, 19.72,
       19.74, 19.79, 19.82, 19.89, 19.91, 19.97, 19.99, 20.03, 20.11,
       20.16, 20.17, 20.2, 20.25, 20.3, 20.31, 20.4, 20.48, 20.49, 20.5,
       20.52, 20.53, 20.62, 20.69, 20.77, 20.8, 20.85, 20.86, 20.89, 20.9,
       20.99, 21.0, 21.14, 21.15, 21.18, 21.21, 21.22, 21.27, 21.28, 21.36,
       21.48, 21.49, 21.59, 21.6, 21.64, 21.67, 21.7, 21.74, 21.82, 21.97,
       21.98, 21.99, 22.06, 22.11, 22.15, 22.2, 22.35, 22.4, 22.45, 22.47,
       22.48, 22.7, 22.74, 22.78, 22.85, 22.9, 22.94, 22.95, 22.99, 23.1,
       23.13, 23.22, 23.26, 23.28, 23.33, 23.4, 23.43, 23.5, 23.52, 23.59,
       23.63, 23.7, 23.76, 23.83, 23.91, 23.99, 24.08, 24.11, 24.2, 24.24,
       24.33, 24.5, 24.52, 24.59, 24.7, 24.76, 24.83, 24.89, 24.99, 25.09,
       25.28, 25.57, 25.78, 25.8, 25.83, 25.89, 25.99, 26.06, 26.77, 26.99,
       27.31, 27.49, 27.88, 27.99, 28.49, 28.99], dtype=object), array([ 5751,   335,   240,  1078,   193,    74,  6412,   160,  4393,
        1673,  3289,   191,  3318,  1488,   103,  4165,   185,  2593,
         244,  1560,    14,  1809,   201,  5744,   232,    20,    38,
           5,    21,  2327,   572,  4070,   186,    60,  2983,    95,
          12,   435, 12219,  6062,   213,   111,    16, 10614,  2560,
          29,  1136,  3374,   501,   117,   255,    19,  2172,    10,
         108,  6866,   189,    10,     9, 15436,     9,   427,    98,
          14,    19,    27,  2253,     7,   119,   225,    18,  3077,
           5,  1246,  1936,   274,     7,   117,   343,    19, 13054,
         147,     4,    35,     4,  3725,  2540,    14,   149,    20,
           5,   152,   274,   142,    34,     7,  2376,    14,   243,
         143,  2774,   417,    40,   702,   159,   280,    23,    17,
          46,    10, 20609,    41,     5,   198,   169,  3992,  1343,
          57,    14,    34,   147,    10,  2689,    18,   360,  1884,
        9700,    13,  1482,    67,     6,     6,    31,  4343,   549,
           9,    19,   142,   252,    92,    11,    30,  9371,     7,
        1381,    13,  5658,    12,   132,   107,     7,    88, 11233,
        1543,     9,  2858,    11,   406,  5871,   226,     6,  2564,
         137,     2,     3,   138, 11317,     7,   116,    17,    93,
        1204,     4,   133,   244,    27,    70, 11083,    14,   685,
         127,  5116,    16,    72,     7,  2599,   100,   157,    31,
          11, 10516,  4709,     9,   103,   229,    79,   109,   605,
        1192,    28,    95,   174,     4,  1616,  2566,  4378,  1066,
          76,    22,    77,    88,     2,    89,    22,    85,     6,
        5877, 11332,    12,  2548,    75,     8,  1769,    77,    21,
          75,     4,    82,   382,     1,  1293,  2497,  5346,    80,
          17,    59,     3,    75,  1195,   912,  4316,    17,    53,
           1,    81,    68,     3,  1802,  8963,     2,     6,    81,
          44,     6,   102,    23,    65,    79,   207,     6,   108,
           4,   143,  1249,  6129,    12,    51,     7,  1212,    13,
          50,   128,  1122,   126,     5,   164,    88,  4954,    73,
          29,     3,  1632,    14,     3,    54,   113,  1943, 15207,
         107,   135,    35,    66,     9,   161,  2804,   254,     4,
        1133,   147,   199,  1806,    63,     3,    93,    46,    11,
           5,     3,  1267,   999,     7,  6391,   132,     1,    31,
          77,   108,     1,  1553,  6638,  1506,    13,     3,    34,
          25,     3,   292,  1145,    97,   129,     2,    15,     3,
        9747,     6,    18,    23,     2,  1101,  1460,     3,    72,
           5,     9,  2901,     1,     8,    16,    20,     1,     1,
         114,    41,     7,   896, 10754,   181,     2,     6,    13,
         909,  2084,    15,  6330,    42,     5,     1,    62,    93,
         359,     5,     4,     6,    21,   831,     8,  2165,  6895,
           9,    46,     2,    98,    10,  2515,     3,  1056,  3432,
           9,    22,   132,    33,  1391,     4,    67,  1194,   567,
           2,     7,   931,  2622,   109,    26,  1421,    14,     2,
        2153,   582,   738,   874,    77,    22,     1,    19,    99,
         807,    83,  3955,     9,    69,  1248,    22,    15,     1,
          61,    82,   436,  3819,     6,    20,     6,     5,  1886,
          44,    80,   447,     2,     9,  2025,   584,     2,    12,
          32,     1,     7,   240,    11,     4,    62,    10,  3607,
        1110,     3,   419,   521,     2,     5,    13,    43,    25,
         446,   651,     7,   288,     6,   660,   383,    17,     2,
          81,   655,  2155,    35,    21,   990,   277,    16,   527,
         420,   470,    13,   243,    20,    52,     4,   199,     2,
         452,  1723,   272,    80,     5,    32,   380,    27,   442,
         908,   194,    10,     2,   304,   353,   223,   196,     8,
        1232,  1057,     7,    21,    17,    16,  1501,     5,     1,
         116,     3,    61,   214,  1513,     8,   107,   715,   267,
         610,   465,   332,   314,   204,   265,     8,   211,     4,
         130,     2,    80,    67]))
--------------------------------------------------
7
grade
(array([False], dtype=bool), array([532428]))
(array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object), array([ 89107, 152713, 147499,  83567,  42495,  13826,   3221]))
--------------------------------------------------
8
sub_grade
(array([False], dtype=bool), array([532428]))
(array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1',
       'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2',
       'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2', 'G3',
       'G4', 'G5'], dtype=object), array([13653, 13533, 14082, 20823, 27016, 26968, 29390, 33844, 33198,
       29313, 31975, 31356, 30080, 29103, 24985, 21712, 17991, 15771,
       15226, 12867, 10928, 10255,  8488,  7051,  5773,  4350,  3196,
        2708,  2056,  1516,  1112,   824,   559,   391,   335]))
--------------------------------------------------
9
emp_title
(array([False,  True], dtype=bool), array([501598,  30830]))
(array([nan, '\tAdv Mtr Proj Fld Rep',
       ' (RED),  a division of The ONE Campaign', ..., 'zoom de italy',
       '\xc3\x85\xc2\x9ar.  Technical Illustrator',
       '\xe2\x80\x8bLicense Compliance Investigator'], dtype=object), array([30830,     1,     1, ...,     1,     1,     1]))
--------------------------------------------------
10
emp_length
(array([False], dtype=bool), array([532428]))
(array(['1 year', '10+ years', '2 years', '3 years', '4 years', '5 years',
       '6 years', '7 years', '8 years', '9 years', '< 1 year', 'n/a'], dtype=object), array([ 34202, 175105,  47276,  42175,  31581,  33393,  25741,  26680,
        26443,  20688,  42253,  26891]))
--------------------------------------------------
11
home_ownership
(array([False], dtype=bool), array([532428]))
(array(['ANY', 'MORTGAGE', 'NONE', 'OTHER', 'OWN', 'RENT'], dtype=object), array([     3, 265940,     36,    117,  52664, 213668]))
--------------------------------------------------
12
annual_inc
(array([False,  True], dtype=bool), array([532425,      3]))
(array([1200.0, 1896.0, 2000.0, ..., 8706582.0, 8900060.0, 9500000.0], dtype=object), array([1, 1, 1, ..., 1, 1, 1]))
--------------------------------------------------
13
verification_status
(array([False], dtype=bool), array([532428]))
(array(['Not Verified', 'Source Verified', 'Verified'], dtype=object), array([159976, 197750, 174702]))
--------------------------------------------------
14
pymnt_plan
(array([False], dtype=bool), array([532428]))
(array(['n', 'y'], dtype=object), array([532420,      8]))
--------------------------------------------------
15
desc
(array([False,  True], dtype=bool), array([ 75599, 456829]))
(array([nan,
       '\t The business was started just over a year ago. It is a business services company providing virtual office space, conference room, meeting room, graphic design, web design, classes and other education resources to entrepreneurs and small businesses.??  The funds will be used to purchase office furniture and equipment for a second business location in a high-traffic area. The first location is fully leased to a company which started using 1 offices and the meeting room and has since grown to need the whole building. The lease income from the first building will cover the lease obligation at the second location.  The owners both have bachelors degrees. One owner has a degree in graphic design. This owner takes care of the day to day operations of the business. The 2nd owner is currently employed full time outside of the business in a good company in the areas of sales and management. He has been employed with this company for almost 5 years. This employment, as well as frugal living, allow the owners??to not rely on their business for income.',
       '     > Inspired by Zappos, our e-commerce site has the goal of literally &quot;delivering happiness.&quot; For busy professionals, this is the only website out there that delivers your choice of a specially curated selection of gifts to the recipient of your choice quickly, beautifully and in 5 clicks or less.<br>',
       ...,
       'www.cougarenergydrink.com   $40B Global Market. $5B Domestic.',
       "~ STARTUPSNAX SMALL BUSINESS LOAN REQUEST ~  ABOUT THE FOUNDER:  I'm a four-time small business author and former editor for a major publishing company that has since resigned to pursue my small business consulting and the launch of StartupSnax.com.   I'm currently consulting on various small businesses that are taking their business online to maximize their sales.  ABOUT STARTUPSNAX:  StartupSnax.com, the provider of Daily Munchables for  Your Business, is a small business resource site centered around providing current and edgy content for the web 2.0/social media & networking entrepreneurial environment and to help anyone looking for a current site to find information on how to start their business cost-effectively (how about under $10,000?), time-efficiently (maybe in a matter of weeks?) and resourcefully (how do I make sure my business is green?).  WHAT DO WE OFFER?  With the resources of the industries keynote authors on various topics, we will be offering:  - StartupSnax Blog - StartupSnax Free Stuff! - StartupSnax Ebook Store - StartupSnax RSS Feed and Newsletter  The authors of these ebooks are major industry writers that will be using their current substantial sales platforms (their websites, speaking engagements, newsletters, radio events, online blogs and webinars, book signings, and various other PR opportunities, etc) to direct traffic towards our site in addition to our online marketing, SEO and online traffic efforts. They will be using the site as a marketing vehicle for their various works and expertise.   HOW DO YOU MAKE MONEY?  Ebooks:  Ebooks have been increasing in YTD (past year to date) sales more than any other product in the publishing industry! Publishers Weekly (www.PublishersWeekly.com) has been quoting that although various in-store sales have been down over previous YTD sales, ebooks have been continuing to increase with the lowest overhead and highest profit margins! Better yet, trade ebook sales (business, not fiction) have been doing well despite the hardcopies' decrease in sales due to the economic slump.  Fortunately, since we are only offering these professionally-edited, written and designed ebooks in digital format, we are saving the cost of printing them, and staying GREEN as well!  By offering smaller (snackable!) ebooks in a condensed format by major authors similar to the Cliff Notes for small business and offering these ebooks at an impressive price point of less than $10, by maximizing traffic, we are sure of substantial ebook sales numbers based upon industry trends.   Ad Sales:  We have not calculated the inevitable ad revenue that will be garnered from providing a pivotal ebook store and resource site into our breakeven analysis but it is a buffer to ensure that we are profitable in the first two months.  WHY DO YOU NEED A LOAN?  A loan is a buffer for guaranteed success. Each person and company should have an emergency fund of at least three months' worth of working capital especially in this economy. Although we could  launch without a loan, although difficult, we are ensuring the success of a solid business plan in the case of a substantial interest in the company at the launch and the need for fast growth.  My credit is exceptional and this is not my only form of income since I'm also consulting, but I always advise my clients that cash is king! In the effort to keep the marketing budget at its peak, I need a loan to ensure those efforts. Also, the ebooks are being professionally copyedited and designed for ideal quality and I'm utilizing an industry leader as a production editor.  WHAT CAN I SEE NOW?  You can view the parked page at www.StartupSnax.com.  Our blog goes live mid November with a final site launch slated for January 1st!   ",

In [24]:
count=0
for ix in range(ds.shape[0]):
    if(ds[ix, 1] >= 20000): #more than 20k$ loan
        count+=1
        
print count

148738

In [30]:
rem = []

#Add constant columns as they don't help in prediction process
for c in df.columns:
    try:
        print c, df[c].std()
    except:
        pass
        
print rem

member_id 24121476.5159
loan_amnt 8434.42007952
funded_amnt 8429.13927734
funded_amnt_inv 8441.29038114
term batch_enrolled int_rate 4.37961110386
grade sub_grade emp_title emp_length home_ownership annual_inc 65199.8450138
verification_status pymnt_plan desc purpose title zip_code addr_state dti 8.36907421811
delinq_2yrs 0.860044949012
inq_last_6mths 0.997025476322
mths_since_last_delinq 21.8847973815
mths_since_last_record 28.1392192615
open_acc 5.31144234101
pub_rec 0.583822181979
revol_bal 22423.2158353
revol_util 23.8534364988
total_acc 11.8432108197
initial_list_status total_rec_int 2093.19983718
total_rec_late_fee 4.09154610039
recoveries 409.647467093
collection_recovery_fee 63.1233612014
collections_12_mths_ex_med 0.133005175219
mths_since_last_major_derog 22.1984098708
application_type verification_status_joint last_week_pay acc_now_delinq 0.0791168064306
tot_coll_amt 1958.57153839
tot_cur_bal 153914.877437
total_rev_hi_lim 38053.035312
loan_status 0.424825584391
[]

In [25]:
count=0
for ix in range(500):
    try:
        if (ds[ix, 9]).find('driver') > 0:
            print ds[ix, 9]
    except:
        pass
    
#DROP 9th

for ix in range(45):
    print ix, df.columns.values[ix]

forklift driver
Truck driver
0 member_id
1 loan_amnt
2 funded_amnt
3 funded_amnt_inv
4 term
5 batch_enrolled
6 int_rate
7 grade
8 sub_grade
9 emp_title
10 emp_length
11 home_ownership
12 annual_inc
13 verification_status
14 pymnt_plan
15 desc
16 purpose
17 title
18 zip_code
19 addr_state
20 dti
21 delinq_2yrs
22 inq_last_6mths
23 mths_since_last_delinq
24 mths_since_last_record
25 open_acc
26 pub_rec
27 revol_bal
28 revol_util
29 total_acc
30 initial_list_status
31 total_rec_int
32 total_rec_late_fee
33 recoveries
34 collection_recovery_fee
35 collections_12_mths_ex_med
36 mths_since_last_major_derog
37 application_type
38 verification_status_joint
39 last_week_pay
40 acc_now_delinq
41 tot_coll_amt
42 tot_cur_bal
43 total_rev_hi_lim
44 loan_status

In [130]:
testing = df['title']

testing = LabelEncoding(ds, 17)

print testing[:10]

[10358 16027 10358 10358 38259  7085 22675  8104 16027 10358]

/Users/sachin/Documents/cbBootCamp/cb/lib/python2.7/site-packages/numpy/lib/arraysetops.py:259: FutureWarning: numpy equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  return aux[:-1][aux[1:] == aux[:-1]]

<h3>skipping 5, 9, 10, 15, 17, 21-26

In [135]:
def LabelEncoding(dataset, column_index):
    l = pp.LabelEncoder()
    l.fit(dataset[:, column_index])
    var = l.transform(dataset[:, column_index])
    return var

In [136]:
#4th column, term
term = LabelEncoding(ds, 4)
ts_term = LabelEncoding(ts, 4)

# print np.unique(term, return_counts=True)

#7th column, grade
grade = LabelEncoding(ds, 7)
ts_grade = LabelEncoding(ts, 7)

#8th column, sub_grade
sub_grade = LabelEncoding(ds, 8)
ts_sub_grade = LabelEncoding(ts, 8)

#11th column, home_ownership
home_ownership = LabelEncoding(ds, 11)
ts_home_ownership = LabelEncoding(ts, 11)

#13th column, verification_status
verification_status = LabelEncoding(ds, 13)
ts_verification_status = LabelEncoding(ts, 13)

#14th column, pymnt_plan
pymnt_plan = LabelEncoding(ds, 14)
ts_pymnt_plan = LabelEncoding(ts, 14)

#16th column, purpose
purpose = LabelEncoding(ds, 16)
ts_purpose = LabelEncoding(ts, 16)

#18th column, zip_code
zip_code = LabelEncoding(ds, 18)
ts_zip_code = LabelEncoding(ts, 18)

#19th column, addr_state
addr_state = LabelEncoding(ds, 19)
ts_addr_state = LabelEncoding(ts, 19)

#30th column, initial_list_status
initial_list_status = LabelEncoding(ds, 30)
ts_initial_list_status = LabelEncoding(ts, 30)

#37th column, application_type
application_type = LabelEncoding(ds, 37)
ts_application_type = LabelEncoding(ts, 37)

# print np.unique(term, return_counts=True)

In [137]:
def Impute(dataset, column_index):
    da = dataset[:, column_index].reshape(1, -1)
    l = pp.Imputer(strategy='mean', axis=1)
    var = l.fit_transform(da)
    var = var[0]
    return var

In [138]:
annual_inc = Impute(ds, 12)
delinq_2yrs = Impute(ds, 21)
inq_last_6mths = Impute(ds, 22)
mths_since_last_delinq = Impute(ds, 23)
mths_since_last_record = Impute(ds, 24)
open_acc = Impute(ds, 25)
pub_rec = Impute(ds, 26)
revol_util = Impute(ds, 28)
total_acc = Impute(ds, 29)
collections_12_mths_ex_med = Impute(ds, 35)
mths_since_last_major_derog = Impute(ds, 36)
acc_now_delinq = Impute(ds, 40)
tot_coll_amt = Impute(ds, 41)
tot_cur_bal = Impute(ds, 42)
total_rev_hi_lim = Impute(ds, 43)

ts_annual_inc = Impute(ts, 12)
ts_delinq_2yrs = Impute(ts, 21)
ts_inq_last_6mths = Impute(ts, 22)
ts_mths_since_last_delinq = Impute(ts, 23)
ts_mths_since_last_record = Impute(ts, 24)
ts_open_acc = Impute(ts, 25)
ts_pub_rec = Impute(ts, 26)
ts_revol_util = Impute(ts, 28)
ts_total_acc = Impute(ts, 29)
ts_collections_12_mths_ex_med = Impute(ts, 35)
ts_mths_since_last_major_derog = Impute(ts, 36)
ts_acc_now_delinq = Impute(ts, 40)
ts_tot_coll_amt = Impute(ts, 41)
ts_tot_cur_bal = Impute(ts, 42)
ts_total_rev_hi_lim = Impute(ts, 43)

In [139]:
data = np.asarray([df['member_id'],df['loan_amnt'], df['funded_amnt'], df['funded_amnt_inv'], term, df['int_rate'],
                 grade, sub_grade, home_ownership, verification_status, pymnt_plan, purpose,
                   zip_code, addr_state, df['dti'], df['revol_bal'], initial_list_status, df['total_rec_int'], 
                  df['total_rec_late_fee'], df['recoveries'], df['collection_recovery_fee'], application_type,
                  annual_inc, delinq_2yrs, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, 
                   open_acc, pub_rec, revol_util, total_acc, collections_12_mths_ex_med, mths_since_last_major_derog,
                   acc_now_delinq, tot_coll_amt, tot_cur_bal, total_rev_hi_lim])

test_data = np.asarray([tf['member_id'],tf['loan_amnt'], tf['funded_amnt'], tf['funded_amnt_inv'], ts_term, 
                        tf['int_rate'], ts_grade, ts_sub_grade, ts_home_ownership, ts_verification_status, 
                        ts_pymnt_plan, ts_purpose, ts_zip_code, ts_addr_state, tf['dti'], 
                        tf['revol_bal'], ts_initial_list_status, tf['total_rec_int'],tf['total_rec_late_fee'], 
                        tf['recoveries'], tf['collection_recovery_fee'], ts_application_type, ts_annual_inc, 
                        ts_delinq_2yrs, ts_inq_last_6mths, ts_mths_since_last_delinq, ts_mths_since_last_record, 
                        ts_open_acc, ts_pub_rec, ts_revol_util, ts_total_acc, ts_collections_12_mths_ex_med, 
                        ts_mths_since_last_major_derog, ts_acc_now_delinq, ts_tot_coll_amt, ts_tot_cur_bal,
                        ts_total_rev_hi_lim])

label = df['loan_status']

In [140]:
data = data.T
print data.shape, label.shape
test_data = test_data.T
print test_data.shape

(532428, 37) (532428,)
(354951, 37)

In [141]:
from sklearn.ensemble import RandomForestClassifier as RFC

In [142]:
split = int(0.80*data.shape[0])
x_train = data[:split, :]
y_train = label[:split]

x_test = data[split:, :]
y_test = label[split:]

rf = RFC(n_estimators=55, n_jobs=-1)

rf.fit(x_train, y_train)
print rf.score(x_test, y_test)*100

89.0858892249

In [116]:
x_train = data
y_train = label

rf = RFC(n_estimators=55, n_jobs=-1)

rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=55, n_jobs=-1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [117]:
default = []

ans = (rf.predict_proba(test_data))

for ix in range(ans.shape[0]):
    default.append(ans[ix][1])
    
default = np.asarray(default)
print default.shape

(354951,)

In [118]:
for ix in range(default.shape[0]):
    if default[ix]==1.00:
        default[ix]=0.99
    if default[ix]==0.00:
        default[ix]=0.01

In [119]:
member = tf['member_id'].values
output = np.column_stack((member, default))

In [52]:
# np.set_printoptions(precision=2)
print output[:5][0][1]

0.181818181818

In [120]:
np.savetxt("./output_mostfreq.csv", output, fmt="%.f,%.2f", delimiter=',', header="member_id,loan_status")

In [21]:
print rf.predict_proba(x_test[1])
print (rf.predict_proba(x_test[0]))[0][0]

/usr/local/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/usr/local/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

[[ 0.70909091  0.29090909]]
0.745454545455

In [54]:
import keras
from keras.layers import Activation, Dense
from keras.models import Sequential
from keras.utils.np_utils import to_categorical

Using TensorFlow backend.

In [56]:
nn_label = to_categorical(label)
nn_y_train = nn_label[:split]
nn_y_test = nn_label[split:]

In [57]:
model = Sequential()
model.add(Dense(256, input_shape=(22,), activation='tanh'))
model.add(Dense(128, activation='tanh'))
model.add(Dense(64, activation='tanh'))
model.add(Dense(2))
model.add(Activation('softmax'))
model.summary()
model.compile(loss='categorical_crossentropy', metrics=['accuracy'], optimizer='adam')

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
dense_1 (Dense)                  (None, 256)           5888        dense_input_1[0][0]
____________________________________________________________________________________________________
dense_2 (Dense)                  (None, 128)           32896       dense_1[0][0]
____________________________________________________________________________________________________
dense_3 (Dense)                  (None, 64)            8256        dense_2[0][0]
____________________________________________________________________________________________________
dense_4 (Dense)                  (None, 2)             130         dense_3[0][0]
____________________________________________________________________________________________________
activation_1 (Activation)        (None, 2)             0           dense_4[0][0]
====================================================================================================
Total params: 47,170
Trainable params: 47,170
Non-trainable params: 0
____________________________________________________________________________________________________

In [59]:
hist = model.fit(x_train, nn_y_train, shuffle=True, batch_size=256, nb_epoch=10, validation_data=(x_test, nn_y_test))

ValueError: Input arrays should have the same number of samples as target arrays. Found 532428 input samples and 425942 target samples.